* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  transition: 0.3s;
}
.btn.on {
  background-color: #1da1f2;
}

.btn.off {
  background-color: red;
}
