* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}
.pro {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 300px;
  background-color: red;
  border-radius: 8px;
  text-align: center;
  padding-bottom: 8px;
  box-shadow: 2px 2px 2px 2px #ccc;
}
.card img {
  width: 100px;
}
