.header img {
  width: 100px;
  height: 100px;
}
.header {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
  box-shadow: 2px 2px 2px 2px #ccc;
  margin-bottom: 30px;
}
