* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Header {
  display: flex;
  background-color: #019879;
  color: white;
}
.Header p {
  padding-top: 3px;
  padding-bottom: 3px;
}
.rank {
  width: 50px;
  text-align: center;
}
.name {
  width: 150px;
  text-align: center;
}
.point {
  width: 50px;
  text-align: center;
}
.team {
  width: 100px;
  text-align: center;
}
