* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bgr__content {
  /* padding-left: 80px; */
  padding: 0 80px;
  position: relative;
}
.bgr__content h2 {
  margin-top: 340px;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  font-family: "Raleway", sans-serif;
  color: #fff;
}
.background {
  position: relative;
  background-image: url("../../assets/week1/background1.jpg");
  height: 100vh;
  overflow: hidden;
  z-index: 2;
}
.main-content {
  display: flex;
  justify-content: space-between;
}
.bgr__content p {
  /* color: #bdccde; */
  color: rgba(255, 255, 255, 0.5);
  margin-right: 60px;
  font-size: 20px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.bgr__active {
  display: flex;
  gap: 15px;
  color: #ffffff;
}
.btn {
  padding: 8px 10px;
  background: color-mix(in srgb, #ffffff, transparent 90%);
  transition: 0.4s all ease;
  cursor: pointer;
}
.btn:hover {
  background-color: #5799ca;
}
.bgr__active i {
  font-size: 16px;
  line-height: 0;
  margin-right: 8px;
  color: white;
}
.bgr__active span {
  font-family: "Poppins", sans-serif;
  color: white;
}
.bgr__img {
  display: flex;
  position: relative;
}
.img1 {
  width: 250px;
  position: absolute;
  top: 150px;
  right: 290px;
}
.img1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img2 {
  width: 250px;
  position: absolute;
  top: 200px;
  right: 185px;
}
.img2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overLay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(24, 54, 117, 0.7);
  z-index: 0;
}
